*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #dae0f3;
}
#title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: black

}

#container {
    height: 525px;
    width: 475px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#pokemon-card {
    border: solid black 1px;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(175, 216, 233);;
    border-radius: 10px;

}
/* #image-background {
    height: 475px;
    width: 475px; 
    background-color: rgb(175, 216, 233);;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px black;
} */

#poke-image {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
.poke-name {
    position:relative;
    font-size: 35px;
    font-weight: bold;
    bottom: 310px;
    right: 120px;


}

#id {
    font-size: 25px;
    position: relative;
    bottom: 310px;
    right: 140px;

}

#hp {
    position: relative;
    bottom: 405px;
    left: 140px;
}

#hp-num {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: 377px;
    left: 180px;
}

.stats {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 100px;
}

#type {
    font-size: 25px;
    position: relative;
    bottom: 70px;
}
#buttons{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#random{
    margin-right: 50px;
    font-size: 13px;
    background-color: white;
    border: none;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
}

#search{
    font-size: 20 px;
    background-color: white;
    border: none;
    border-radius: 7px;
    padding: 5px;
}

#find {
    font-size: 13px;
    background-color: white;
    border: none;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
}