*{
    padding: 0px;
    margin: 0px;
    font-family: 'VT323', monospace;
}

body {
    background-color: #dae0f3;
}
#title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 140px;
}


#pokemon-card {
    text-align: center;
    font-size: 20px;
}

#poke-image {
    margin-bottom: 50px;
    height: 350px;
}
.poke-name {
    font-size: 35px;
    margin-bottom: 15px;
}

#buttons{
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#random{
    margin-right: 50px;
    font-size: 20px;
}

#search{
    font-size: 20px;
}

#find {
    font-size: 20px;
}